<div class="row">
  <div class="col-sm-4">Name:<%= @publisher.name %></div>
  <div class="col-sm-4">Card Number: <%= @publisher.card_no %></div>
  <div class="col-sm-4">Birthday: <%= @publisher.birthday %></div>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= link_to "Publisher List", publishers_path %>
  </div>
</div>